net-45/WindowsFormApp/Connected Services/AuthWebService/AuthApiService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lib.mvc.auth" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lib.mvc.auth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TokenModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expire" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RefreshToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenModel" nillable="true" type="tns:TokenModel" />
</xs:schema>