net-45/WindowsFormApp/Connected Services/AuthWebService/AuthApiService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lib.mvc.user" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lib.mvc.user" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59840/Service/AuthApiService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LoginUserInfo">
    <xs:sequence>
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ExtraData_x003E_k__BackingField" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element name="_x003C_HeadImgUrl_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsValid_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LoginToken_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NickName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Permissions_x003E_k__BackingField" nillable="true" type="q2:ArrayOfstring" />
      <xs:element name="_x003C_RefreshToken_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Scopes_x003E_k__BackingField" nillable="true" type="q3:ArrayOfstring" />
      <xs:element name="_x003C_TokenExpire_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_UserID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUserInfo" nillable="true" type="tns:LoginUserInfo" />
</xs:schema>